<footer>
    <span>
      &copy; 2019 Travel Diaries &nbsp;&nbsp;&nbsp;
      <a href="#">Privacy statement &nbsp;&nbsp;&nbsp;</a>
      <a href="#">Terms  &nbsp;&nbsp;</a>
      <a href="#">Contact &nbsp;&nbsp;</a>
    </span>
  </footer>