<header class="bg">
    <div class="title">Travel Diaries</div>
    <span class="signIn"><% if(username==''){ %> Not signed in<% } %>
      <% if(username != ''){ %> Signed in by <%= username %> <% } %></span>
  </header>