<div class="sidenav">
    <nav>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/profile/home">Home</a></li>
        <li><a href="/catalog/categories">Categories</a></li>
        <li><a href="#">Destinations</a></li>
        <li><a href="#">Itineraries</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="/catalog/about">About</a></li>
        <li><a href="/catalog/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
