<nav class="width100">
  <ul class="nav nav-pills nav-justified">
    <li><a href="/profile/signIn"><% if(username == ''){ %> Sign in <% } %>
      <% if(username != ''){ %> Sign out <% } %></a></li>
    <li><a href="/profile/myItems">My dream destinations</a></li>
    <li><a href="#">Bookings</a></li>
  </ul>
</nav>
