<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>
    <% include partials/style-links.ejs%>
  </head>
  <body class="container bodybackground">
    <% include partials/header.ejs%>
    <% include partials/user-navigation.ejs%>
    <% include partials/site-navigation.ejs%>

    <div class="maincontent">
      <main>
          <p>"Travel isn't always pretty. It isn't always comfortable. Sometimes it hurts, it even breaks your heart. But that's okay. The journey changes you; it should change you. It leaves marks on your memory, on your consciousness, on your heart, and on your body. You take something with you. Hopefully, you leave something good behind." - Anthony Bourdain</p>
          <p>On the surface, travel is about seeing new places and giving a bit back at the same time. But underneath it is so much more, opening your horizons to experience completely different cultures, cuisines and landscapes. While photos are proof that you went and saw, it's the transformation that takes place within that is often the strongest evidence of why travel is important.</p>
          <p>Some argue that it's an indulgent expense, spending money to travel that could be spent saving for a home loan or "building for the future", but travel addicts would debate a strong case against this. It's not about ticking off the "bucket list" and being able to recount all the countries you've visited, but the way travel impacts you as a person, your interactions with others and your humanity towards the rest of the world.</p>
      </main>

      <% include partials/footer.ejs%>

    </div>
  </body>
</html>
